[user]
	name = Scott Preece
	email = preece@yahoo-inc.com
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	st = status
	br = branch
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[diff]
	tool = opendiff
[pull]
	rebase = true
[push]
	default = simple
[branch]
	autosetuprebase = always
